body {
  font: 16px/26px 'Montserrat', Helvetica, Arial, sans-serif;
  background-color: $yellow;

  margin: 0;
  padding: 0;
  height: 100%;
}

.wrapper {
  width: 100%;
  padding: 0;
  margin: 0 auto;
  @media only screen and (min-width: 768px) {
    width: 92%;
  }
  @media only screen and (min-width: 960px) {
    max-width: 60em;
  }
}

.main-container{
  position: relative;
  min-height: 100%;
}

.main{
  width: 92%;
  #wrapper{
    margin-bottom: 5em;
  }
  article{
    margin-top: 1.2em;
    @media only screen and (min-width: 768px){

    }
    ul li{
      margin-bottom: 2em;
      &:last-child{
        margin-bottom: 0;
      }
    }
    img{
      width: 100%;
    }
    .container{
      li{
        background-image: url('../images/loading.gif');
        background-position: center;
        background-repeat: no-repeat;
        .edu-item{
          width: 48%;
          display: block;
          margin-bottom: 1.5em;
          @media only screen and (max-width: 480px){
            width: 100%;
          }
      }
      &.is-loaded {
        background-image: none !important;
        img {
          @include opacity(1.0);
        }
      }
    }

    }
  }
}

/* Content under header and above container*/
.intro{
  margin-top: 5em;
  @media only screen and (min-width: 960px){
     margin: 6em 0 3em 270px;
  }
}

.title{
  margin: 3em 0 0;
  color: $red;
  line-height: 1.2;
  @media only screen and (min-width: 768px){
    margin: 4em 0 0 270px;
  }
}

/* Sidebar */
aside{
  margin-bottom: 7em;
  &.contact{
    margin-top: 5em;
  }
  section{
    margin-bottom: 3em;
    p{
      margin: 0;
    }
  }
  h3{
    color: $red;
    margin-bottom: 0;
  }
  ul li{
    border-bottom: 1px solid $red;
    padding: 0.5em 0;
    .date{
      float: right;
    }
  }
  @media only screen and (min-width: 768px){
    float: left;
    width: 250px;
  }
}

/* Content */
article{
  h3{
    color: $red;
    margin: 0;
  }
  h2{
    color: $red;
    margin: 0 0 0.25em 0;
  }
  p{
    margin: 0 0 1.5em;
    @media only screen and (max-width: 768px){
      font-size: 1.15em;
    }
    @media only screen and (min-width: 960px){
      font-size: 1.15em;
    }
    @media only screen and (max-width: 600px){
      font-size: 1em;
    }
  }
  ul li{
    p{
      margin: 0 0 0.25em;
    }
  }
  margin-bottom: 3em;
  @media only screen and (min-width: 768px){
    float: right;
    width: calc(100% - 270px);
    margin-left: 20px;
    margin-bottom: 0;
    ul{
      margin-bottom: 10em;
    }
  }
  &.about-text{
    margin-bottom: 8em;
  }
}

.item{
  a:hover{
    color: $blue;
  }
}

.grid-gutter{
  width: 2%;
  @media only screen and (max-width: 960px) {
    width: 4%;
  }
}

.edu-gutter{
  width: 4%;
}
