.header-container{
    background-color: $white;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 3;
    .site-title{
    	display: none;
    	float: left;
    	@media only screen and (min-width: 768px) {
    		display: block;
    		width: 32%;
    		float: left;
    	}
    }
    nav{
    	display: none;
    	@media only screen and (min-width: 768px) {
    		display: block;
		    float: right;
		    width: 66%;
		}
	    ul{
	    	margin: 0;
	    	padding: 0;
	    	li h3{
	    		font-weight: normal; 
	    		margin: 1em 0;
	    		padding: 0;
	    		a{
			    	float: left;
			    	margin-right: 6%;
			    	display: block;
		    	}
	    	}
	    }
	}
	@media only screen and (min-width: 768px) {
		.slicknav_menu{
			display: none;
		}
	}
}

/* IE7 Browser Fix */
nav ul li {
    display: inline;
}

.oldie nav a {
    margin: 0 0.7%;
}

/* Mobile Navigation */
.slicknav_menu{
	.slicknav_btn{
		display: block;
		padding: 1.15em 4%;
		&:hover{
			color: $blue;
		}
	}
	.slicknav_menutxt{
		font-size: 19px;
		font-weight: bold;
	}
	.slicknav_nav{
		li{
			h3{
				margin: 0;
				a{
					color: #fff;
					display: block;
					padding: 1.15em 4%;
				}
			}
		}
	}
	.slicknav_icon{
		float: right;
		display: block;
		margin-top: 2px;
		width: 20px;
		height: 24px;
		span.slicknav_icon-bar{
			background-color: $blue;
			width: 20px;
			height: 4px;
			margin-bottom: 4px;
			float: left;
		}
	}
}
