@media only screen and (min-width: 768px) {
  .main{
    .title, .intro{
    margin-left: 30%;
    }
    article {
        float: right;
        width: 70%;
    }
    aside {
        float: left;
        width: 28%;
        &.fixed{

        }
    }
  }
  .site-title{
    display: block !important;
    width: 30% !important;
  }
  nav{
    display: block !important;
  } 

  .slicknav_menu, .contact{
    display: none !important;
  }

  .arrow-mobile{
    display: none;
  }
}

@media only screen and (min-width: 1140px) {
  .wrapper {
    width: 1026px;
    margin: 0 auto;
  }
}

@media only screen and (max-width: 768px){
  header.wrapper{
    padding: 0;
    width: 100%;
  }
  #wrapper{
    width: 100%;
    .news{
      width: 100%;
      margin: 0 0 2em 0;
    }
    .item{
      .meta{
        display: block;
        text-align: left;
        margin: 0 0 0.5em 0;
        float: left;
      }
      &.work, &.education{
        margin: 0 0 2em 0;
        figure{
          display: block;
        }
      }
      figure img{
          width: 100%;
      }
      .arrow{
        display: none;
      }
    }
  }
}

@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) { 
  
  .arrow, .arrow-mobile{
    background-image: url(../images/arrow@2x.png);
    background-size: 32px 14px;
  }

}