@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);

/* Content under header and above container*/
.intro{
	margin-top: 5em;
}

.title{
	margin: 3em 0 0;
	color: $red;
    line-height: 1.2;
}


/* Sidebar */
aside{
	&.contact{
		margin-top: 5em;
	}
	section{
		margin-bottom: 3em;
		p{
			margin: 0;
		}
	}
	h3{
		color: $red;
		margin-bottom: 0;
	}
	ul li{
		border-bottom: 1px solid $red;
		padding: 0.5em 0;
		.date{
			float: right;
		}
	}
	.sidebar.fixed{
		position: fixed;
		top: 80px;
		width: inherit;
		width: 26%;
	}
}

/* Content */
article{
	h3, h2{
		color: $red;
		margin: 0 0 0.25em;
	}
	p{
		margin: 0 0 1.5em;
	}
	ul li{
		p{
			margin: 0 0 0.25em;
		}
	}
	margin-bottom: 3em;
}

.item{
	a:hover{
		color: $blue;
	}
}

/* News item */
.news{
	margin: 0 1em 1em 0;
	background-color: $red;
	width: calc(300px - 2em);
	a{
		display: block;
		padding: 1em;
		&:hover{
			background-color: $blue;
		}
	}
	h3, p, data{
		color: #fff;
		margin: 0;
	}
	p{
		line-height: 1.4;
	}
}

/* Project item */
.work, .education{
	margin: 0 1em 1em 0;
	.meta, figure{
		display: inline-block;
		vertical-align: top;
	}
	figure img{
		width: 240px;
	}
	.meta{
		margin: 2em 1em 0 0;
		text-align: right;
		h3, span, data{
			margin: 0;
		}
	}
	.arrow{
		background-image: url(../images/arrow.png);
		float: right;
		width: 100%;
		height: 14px;
		margin-top: 0.3em;
		background-repeat: no-repeat;
		background-position: 100%; 
	}
}

/* Figcaption item */
.education, .work{
	figure{
		margin: 0;
		position: relative;
		overflow: hidden;
		border-bottom: 3px solid $blue;
		&:hover{
			img{
				-webkit-transform: translateY(-10px);
				transform: translateY(-10px);
			}
			figcaption{
				opacity: 1;
				-webkit-transform: translateY(0px);
				transform: translateY(0px);

				-webkit-transition: -webkit-transform 0.4s, opacity 0.1s;
				transition: transform 0.4s, opacity 0.1s;
			}
		}
		img{
			max-width: 100%;
			display: block;
			position: relative;
			-webkit-transition: -webkit-transform 0.4s;
			transition: transform 0.4s;
		}
		figcaption{
			position: absolute;
			padding: 0.5em 0 0.5em 1em;
			font-size: 0.8em;
			text-transform: uppercase;
			font-weight: bold;
			background-color: $blue;
			color: #fff;

			height: 24px;
			width: 100%;
			top: auto;
			bottom: 0;
			opacity: 0;
			-webkit-transform: translateY(100%);
			transform: translateY(100%);
			-webkit-transition: -webkit-transform 0.4s, opacity 0.1s 0.3s;
			transition: transform 0.4s, opacity 0.1s 0.3s;
		}
	}
}

.arrow-mobile{
	background-image: url(../images/arrow.png);
	float: left;
	width: 32px;
	height: 14px;
	margin-top: 1.3em;
	transform: rotate(90deg);
	-ms-transform: rotate(90deg); 
	-webkit-transform: rotate(90deg);
}